<h1 class="text-center m-5">Movie list generator</h1>

<div class="d-flex flex-wrap my-0 mx-5">
  <% @lists.each do |list| %>
  <%= link_to list_path(list), class: 'm-2' do %>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src=<%= asset_path('list_background.jpg')%> alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= list.name %></h5>
        <p class="btn btn-primary">See more</p>
      </div>
    </div>
  <% end %>
  <% end %>
</div>

<%= link_to 'Create a movie list', new_list_path, class: 'btn btn-success m-5' %>
